.App {
  text-align: center;
}

.wall {
  background-color: rgb(57, 57, 57);
}
.startPoint {
  background-color: rgb(248, 2, 2);
}
.endPoint {
  background-color: rgb(14, 2, 248);
}
.isPath {
  background-color: yellow;
}
.visiting {
  background-color: rgb(60, 116, 220);
}
.visited {
  background-color: rgb(104, 138, 202);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
